
/* ==========================================================================
   Main Settings
   ========================================================================== */

body,html {overflow-x: hidden;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing:antialiased}
a:hover {text-decoration: none;}


@font-face {
    /*
    font-family: 'FontName';
    src: url('fontname.eot');
    src: url('fontname.eot?#iefix') format('embedded-opentype'),
        url('fontname.woff') format('woff'),
        url('fontname.ttf') format('truetype'),
        url('fontname.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    */
}



/* ==========================================================================
   RESPONSIVE OPTIONS
   ========================================================================== */
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width: 32em) and (max-device-width: 48em) {
  /* Set styles here */ }
/* Smartphones (landscape) ----------- */
@media screen and (min-width: 32.1em) {
  /* Set styles here */ }
/* Smartphones (portrait) ----------- */
@media screen and (max-width: 32em) {
  /* Set styles here */ }
/* iPads (portrait and landscape) ----------- */
@media screen and (min-device-width: 76.8em) and (max-device-width: 102.4em) {
  /* Set styles here */ }
/* iPads (landscape) ----------- */
@media screen and (min-device-width: 76.8em) and (max-device-width: 102.4em) and (orientation: landscape) {
  /* Set styles here */ }
/* iPads (portrait) ----------- */
@media screen and (min-device-width: 76.8em) and (max-device-width: 102.4em) and (orientation: portrait) {
  /* Set styles here */ }
/* Desktops and laptops ----------- */
@media screen and (min-width: 122.4em) {
  /* Set styles here */ }
/* Large screens ----------- */
@media screen and (min-width: 182.4em) {
  /* Set styles here */ }
/* iPhone 4 ----------- */
@media screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Set styles here */ }
/* iPhone 5 ----------- */
@media screen and (device-width: 32em) and (device-height: 56.8em) and (-webkit-device-pixel-ratio: 2) {
  /* Set styles here */ }
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }


/* ==========================================================================
   Helper Class
   ========================================================================== */
/*
* Float & Display
***************************/
.fl { float: left !important; }
.fr { float: right !important; }
.db { display: block !important;}
.dib { display: inline-block !important;}
.di {display: inline !important;}
.dn { display: none !important;}
.owh { overflow: hidden !important; }
.clear { clear:both !important; }
.border-none{border: none !important; outline: 0 !important;}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
} 
.clearfix:after{clear: both;}
.clearfix {*zoom: 1;}
/*
* Margin Plus 
***************************/
.m0 { margin: 0 !important; }
.mauto { margin: 0 auto !important; display:block;}
.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }
.justify { text-align: justify !important; }


/*
* Margin & Padding Left
***************************/
.ml0 { margin-left: 0px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }


.pl0 { padding-left: 0px !important; }
.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 46px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }

/*
* Margin & Padding Top
***************************/
.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }

.pt0 { padding-top: 0px !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }

/*
* Margin & Padding Right
***************************/
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }

.pr0 { padding-right: 0px !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }

/*
* Margin & Padding Bottom
***************************/
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }

.pb0 { padding-bottom: 0px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
















